body {
    background-image: url('fondo.jpg');
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
}

#contenedor {
    margin-top: 4px;
    margin-left: 15%;
    float: left;
    height: auto;
    width: 70%;
    background-color: #ccffcc;
    border-bottom: 1px solid #006600;
}

#formulario {
    float: left;
    margin-left: 330px;
}

#inicio {
    border-top: 1px solid #006600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    float: left;
    margin-left: 15%;
    color: #006600;
    height: 190px;
    width: 70%;
}

#centros {
    margin-left: 300px;
    font-size: 2em;
}

#cuida {
    font-size: 1.4em;
}

img {
    margin-left: 300px;
    float: left;
    height: 85px;
    width: 85px;
}

input {
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

table {
    margin-top: 100px;
    margin-left: 72px;
    background-color: #ccffcc;
}

th {
    background-color: #cccccc;
}

tr {
    background-color: 2px solid #ccffcc;
}

#cincocampos {
    margin-top: 100px;
    margin-left: 175px;
    background-color: #ccffcc;
}

td {
    border: 1px solid #006600;
    text-align: center;
}

td:hover {
    background-color: white;
}

option {
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

#botones {
    background-color: #cccccc;
}

#botones:hover {
    background-color: #ccffcc;
}

.botonesrol {
    background-color: #cccccc;
    margin: 1%;
    margin-left: 390px;
}

.boton {
    background-color: #cccccc;
    margin-top: 6%;
}

.boton:hover {
    background-color: #ccffcc;
}

.botonesalta {
    background-color: #cccccc;
}

.botonesalta:hover {
    background-color: #ccffcc;
}

.botonesrol:hover {
    background-color: white;
}

.usuario {
    position: absolute;
    height: 50px;
    width: 200px;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1em;
    border-bottom: 1px solid #006600;
}

form {
    float: left;
    padding: 5px;
}